# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.cache
/.parcel-cache
/pnpm-lock.yaml

# production
/dist

# misc
yarn.lock
.DS_Store
