@use "../abstracts/" as *;
nav{
    padding: 20px 50px 0px 50px;
    position: fixed;
    z-index: 5;
}
.container-nav{
    display: flex;
    justify-content: space-between;
    background-color: $background-nav;
    padding: 10px;
}
.navbar-logo{
    padding-top: 10px;
    padding-right: 65px;
}
nav ul {
    text-align: center;
    text-decoration: none;
    margin: 0;
}
nav li {
    font-weight: bold;
    display: inline-block;
    font-size: 1.5em;
    font-family: $fourth-font;
}
nav li a {
    display: block;
    color: $text-color;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
    text-transform: uppercase;
}
nav li a:hover{
    color: $text-card-footer;
    background-color: #e5e9fc;
}
