@use "../abstracts" as * ;

.section2{
    background-image: url(../assets/images/section2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 866px;
    width: 100%;
}
.section2-title{
    padding: 300px 0px 0px 200px;
    @include tablet{
        padding: 270px 0px 0px 30px;
    }
}
.section2-title h1{
    font-family: $primary-font;
    font-weight: 400;
    font-size: 64px;
    letter-spacing: 0.1em;
    color: $text-color;
    text-transform: uppercase;
    @include mobile{
        font-size: 44px;
    }
}
.section2-title h2{
    padding-top: 1%;
    font-family: $second-font;
    font-weight: 400;
    font-size: 92px;
    letter-spacing: -0.01em;
    color: $text-color;
    text-transform: uppercase;
    @include mobile{
        font-size: 62px;
    }
}
.section2-title h5{
    padding-top: 10px;
    font-family: $primary-font;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    color: $text-color;
    text-transform: uppercase;
    @include mobile{
        font-size: 14px;
    }
}
