@use "../abstracts" as * ;
.section4{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    padding: 50px 50px;
    background-color: #f1f1f1;
}
.card{
    background-color: $background-footer;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.07);
}
.card_img{
    position: relative;
}
.card_img img{
    width: 100%;
    text-align: center;
    height: 276px;
}
.card_date{
    position: absolute; 
    padding: 8px 15px 8px 15px;
    color: blue;
    background-color: #FFFFFF;
}
.date{
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}
.card_text{
    padding: 30px;
}
.card_text p{
    letter-spacing: 0.1em;
    color: #000;
}
.cardtitle{
    font-weight: bold;
    font-size: 22px;
    font-family: $third-font;
}
.paragraph{
    font-size: 14px;
    font-family: $primary-font;
}
button{
    margin: 60px;
    box-sizing: border-box;
    width: 304px;
    height: 77px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    border: 4px solid #313131;
    grid-column: 2/3;
    align-items: center;
}
