@use "../abstracts" as * ;
.section3{
    background-color: $background-color;
    position: relative;
    width: 100%;
}
.section3_img img{
    width: 80%;
    height: auto;
    background-size: cover;
    background-position: center;
    padding: 10%;
    @include tablet{
        width: 100%;
        padding: 0;
    }
}
.section3_text{
    position: absolute;
    top: 20%;
    font-family: $second-font;
    font-weight: 400;
    font-size: 360px;
    letter-spacing: -0.01em;
    color: $text-color;
    mix-blend-mode: soft-light;
    padding: 10% 0% 10% 10%;
    text-transform: uppercase;
    @include tablet{
        font-size: 225px;
        padding: 0;
    }
}
.section3_paragraph{
    position: absolute;
    left: 50%;
    top: 20%;
    right: 20%;
    background-color: $background-text;
    padding: 50px;
    backdrop-filter: blur(22px);
    @include tablet{
        right: 0;
        bottom: 10%;
        top: 10%;
    }
}
.title{
    margin: 0;
    font-family: $second-font;
    font-weight: 400;
    font-size: 64px;
    letter-spacing: -0.01em;
    color: $text-color;
    text-transform: uppercase;
    @include tablet{
        font-size: 40px;
    }
}
.paragraph{
    font-family: $primary-font;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.1em;
    color: $text-color;
    line-height: 1.7;
    margin: 3% 0% 5% 0%;
    @include tablet{
        font-size: 10px;
    }
}
.btn-sec3{
    box-sizing: border-box;
    border: $border;
    font-family: $primary-font;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.1em;
    color: $text-color;
    text-transform: uppercase;
    background-color: $background-button;
    padding: 7% 15%;
    @include tablet{
        font-size: 14px;
        padding: 4% 10%;
    }
}
