.section2{
    position: relative;
}
.section2_img img{
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
}
.section2_title h1{
    margin: 0px;
    position: absolute;
    height: 87px;
    left: 100px;
    top: 300px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 87px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-transform: uppercase;
}
.section2_title h2{
    margin: 0px;
    position: absolute;
    height: 135px;
    left: 100px;
    top: 400px;
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 92px;
    line-height: 138px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    text-transform: uppercase;
}
.section2_title h5{
    margin: 0px;
    position: absolute;
    height: 25px;
    left: 100px;
    top: 550px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    color: #FFFFFF;
    text-transform: uppercase;
}