@use "../abstracts" as * ;
.section2{
    background-image: url(../../assets/images/section2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section2-title h1{
    padding: 300px 0px 0px 200px;
    height: 87px;
    font-family: $primary-font;
    font-weight: 400;
    font-size: 64px;
    letter-spacing: 0.1em;
    color: $text-color;
    text-transform: uppercase;
}
.section2-title h2{
    padding: 30px 0px 0px 200px;
    height: 135px;
    font-family: $second-font;
    font-weight: 400;
    font-size: 92px;
    letter-spacing: -0.01em;
    color: $text-color;
    text-transform: uppercase;
}
.section2-title h5{
    padding: 10px 0px 350px 200px;
    font-family: $primary-font;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    color: $text-color;
    text-transform: uppercase;
    @include tablet{
        padding: 90px 0px 350px 200px;
    }
}
