@use "../abstracts" as * ;

.section3{
    background-color: $background-color;
    position: relative;
    width: 100%;
}
.section3_img img{
    width: 80%;
    height: auto;
    background-size: cover;
    background-position: center;
    padding: 10%;
    @include tablet{
        width: 100%;
        padding: 0;
    }
}
.section3_text{
    position: absolute;
    top: 20%;
    left: 9%;
    width: 100%;
    font-family: $second-font;
    font-weight: 400;
    font-size: 440px;
    letter-spacing: -1%;
    line-height: 662px;
    color: $text-color;
    mix-blend-mode: soft-light;
    text-transform: uppercase;
    @include tablet{
        font-size: 225px;
        padding: 0;
    }
    @include mobile{
        display: none;
    }
}
.section3_paragraph{
    position: absolute;
    left: 44.5%;
    top: 20%;
    width: 480px;
    height: 638px;
    background-color: $background-text;
    padding: 3%;
    backdrop-filter: blur(22px);
    @include tablet{
        right: 0;
        bottom: 10%;
        top: 10%;
    }
    @include mobile{
        position: static;
    }
}
.title{
    margin: 0;
    font-family: $second-font;
    font-weight: 400;
    font-size: 64px;
    letter-spacing: -0.01em;
    color: $text-color;
    text-transform: uppercase;
    @include tablet{
        font-size: 40px;
    }
}
.paragraph{
    font-family: $primary-font;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.1em;
    color: $text-color;
    line-height: 1.7;
    margin: 3% 0% 5% 0%;
    @include tablet{
        font-size: 10px;
    }
}
.btn-sec3{
    box-sizing: border-box;
    border: $border;
    font-family: $primary-font;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.1em;
    color: $text-color;
    text-transform: uppercase;
    background-color: $background-button;
    padding: 7% 15%;
    @include tablet{
        font-size: 14px;
        padding: 4% 10%;
    }
}
