<footer class="footer">
    <div class="container-footer">
      <div class="navbar-logo">
          <img src="../assets/images/logo.jpg" alt="logo" />
      </div>
  
      <ul class="footer-list">
        <include
          src="./components/footer-list.html"
          locals='{
          "classList": "nav-list-item list-item ",
          "classLink": "nav-link",
          "list": "[`TWITTER`, `INSTAGRAM`, `YOUTUBE`, `CONTACT`, `PRIVACY POLICY`]"}'>
        </include>
      </ul>
    </div>
</footer>