<div class="container">
    <div class="section4">
        <include 
        src="./components/card.html"
        locals='{
            "img": "../assets/images/card_img1.jpg",
            "date": "May 8, 2021",
            "title": "New Hawk Set to Launch in early May",
            "paragraph": "Lorem ipsum text as placeholder for this section of text. To be filled in later with something meaningful and space themed. Lorem ipsum text as placeholder for this section of text. "
        }'>
        </include>
        <include 
        src="./components/card.html"
        locals='{
            "img": "../assets/images/card_img2.jpg",
            "date": "May 11, 2021",
            "title": "See how Space:Neo is changing satellite launches",
            "paragraph": "To be filled in later with something meaningful and space themed. Lorem ipsum text as placeholder for this section of text. Lorem ipsum text as placeholder for this section of text. Lorem ipsum text as placeholder for this section of text."
        }'>
        </include>
        <include 
        src="./components/card.html"
        locals='{
            "img": "../assets/images/card_img3.jpg",
            "date": "May 22, 2021",
            "title": "Jupiter Mission is moving ahead of schedule",
            "paragraph": "Lorem ipsum text as placeholder for this section of text. To be filled in later with something meaningful and space themed. Lorem ipsum text as placeholder for this section of text. "
        }'>
        </include>
    </div>
    <div class="button">
        <button>see all news updates</button>
    </div>
</div>