<div class="section3">
    <div class="section3_img">
        <img src="../assets/images/section3.jpg" alt="bg">
        <div class="section3_text">
            <p>LAUGH</p>
        </div>
        <div class="section3_paragraph">
            <p class="title">get involved</p>
            <p class="paragraph">
                Lorem ipsum text as placeholder for this section of text. To be filled in later with 
                something meaningful and space themed. Lorem ipsum text as placeholder for this section 
                of text. To be filled in later with something meaningful and space themed. Lorem ipsum 
                text as placeholder for this section of text. To be filled in later with something meaningful 
                and space themed.
    
                Lorem ipsum text as placeholder for this section of text. To be filled in later.
            </p>
            <p class="button">get involved</p>
        </div>
    </div>
    
</div>