<div class="faq-container">
    <img src="../assets/images/section5.jpg" alt="image">
    <div class="faq-content">
        <h2 class="faq-title">FAQs</h2>
        <include 
        src="./components/faq-list.html" 
        locals='{
            "titles": "when is the next launch?",
            "paragraphs": "Lorem ipsum text as placeholder for this section of text. To be filled in later with something meaningful and space themed. Lorem ipsum text as placeholder for this section of text. To be filled in later with something meaningful and space themed. Lorem ipsum text as placeholder for this section of text. To be filled in later with something meaningful and space themed. Lorem ipsum text as placeholder for this section of text. To be filled in later with something meaningful and space themed. Lorem ipsum text as placeholder for this section of text. To be filled in later with something meaningful and space themed."
        }'>
        </include>
        <include 
        src="./components/faq-list.html" 
        locals='{
            "titles": "is there a rideshare?",
            "paragraphs": "Lorem ipsum text as placeholder for this section of text. To be filled in later with something meaningful and space themed. Lorem ipsum text as placeholder for this section of text. To be filled in later with something meaningful and space themed. Lorem ipsum text as placeholder for this section of text. To be filled in later with something meaningful and space themed. Lorem ipsum text as placeholder for this section of text. To be filled in later with something meaningful and space themed. Lorem ipsum text as placeholder for this section of text. To be filled in later with something meaningful and space themed."
        }'>
        </include>
        <include 
        src="./components/faq-list.html" 
        locals='{
            "titles": "how long is each trip?",
            "paragraphs": "Lorem ipsum text as placeholder for this section of text. To be filled in later with something meaningful and space themed. Lorem ipsum text as placeholder for this section of text. To be filled in later with something meaningful and space themed. Lorem ipsum text as placeholder for this section of text. To be filled in later with something meaningful and space themed."
        }'>
        </include>
    </div>
</div>
