body,header,button,main{
    margin: 0px;
    padding: 0px;
}
.container-nav{
    background-color: #00000038;
}
nav ul {
    list-style-type: none;
}
nav li {
    display: inline-block;
    font-size: 1.5em;
    font-family: Geneva, Arial, sans-serif;
}

footer {
    background-color: #ffffff;
}
footer ul {
    list-style-type: none;
}
footer li {
    display: inline-block;
    font-size: 18px;
    font-family: Geneva, Arial, sans-serif;
}