@use "../abstracts/" as *;

@font-face {
    font-family: Open Sans;
    src: url(/src/assets/fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
  }
@font-face {
    font-family: Anton;
    src: url(/src/assets/fonts/Anton-Regular.ttf);
}