@use "../abstracts/" as *;

@font-face {
    font-family: OpenSans;
    src: url(/src/assets/fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
  }
@font-face {
    font-family: Anton;
    src: url(/src/assets/fonts/Anton-Regular.ttf);
}
@font-face {
    font-family: OpenSans_Condensed;
    src: url(/src/assets/fonts/OpenSans_Condensed-Regular.ttf);
}
@font-face {
    font-family: Geneva;
    src: url(/src/assets/fonts/Geneva.ttf);
}