@use "../abstracts/" as *;

@font-face {
    font-family: Open-Sans;
    src: url(../assets/fonts/OpenSans-Regular.ttf);
  }
@font-face {
    font-family: Anton;
    src: url(../assets/fonts/Anton-Regular.ttf);
}
@font-face {
    font-family: Open-Sans-Condensed;
    src: url(../assets/fonts/OpenSans_Condensed-Regular.ttf);
}
@font-face {
    font-family: Geneva;
    src: url(../assets/fonts/Geneva.ttf);
}
