//colors
$text-color: #ffffff;
$text-card-footer: #000000;

$background-color: #000000;
$background-footer:#ffffff;
$background-nav: rgba(178, 178, 173, 0.1);
$background-card: #F1F1F1;
$background-button: #ffffff00;
$background-text: rgba(25, 65, 106, 0.5);

$border: 4px solid #FFFFFF;
$border-card: 4px solid #313131;

//fonts
$primary-font: Open Sans;
$second-font: Anton;

