@use "../abstracts/" as *;
.container-footer{
  display: flex;
  justify-content: space-between;
  padding: 10px 80px;
  @include tablet{
    flex-direction: column;
    padding: 0;
  }
}
footer {
  padding: 50px;
  background-color: $background-footer;
}
.footer-logo img{
  @include mobile{
    width: 100%;
  }
}
.footer-list {
  text-align: center;
  flex-direction: row;
  gap: 50px;
  height: fit-content;
  padding: 10px 20px 0px 20px;
  text-decoration: none;
  margin: 0;
  display: flex;
  @include tablet{
    padding: 30px 0px 0px 0px;
  }
  @include mobile{
    flex-direction: column;
    width: fit-content;
    font-size: 20px;
    gap: 20px;
    align-items: baseline;
  }
}
.text{
  padding: 10px 0px;
  margin: 0;
  font-family: $third-font;
  font-size: 18px;
  @include mobile{
    font-size: 20px;
    padding-top: 20px;
  }
}
.footer-list a {
  display: block;
  color: $text-card-footer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $third-font;
  font-size: 18px;
}
.footer-list a:hover{
  color: $text-color;
  background-color: $background-color;
}
