<footer class="footer">
    <div class="container-footer">
      <div class="footer-logo">
          <img src="../assets/images/footer-logo.jpg" alt="logo" />
      </div>

      <ul class="footer-list">
        <include
          src="./components/footer-list.html"
          locals='{
          "classList": "nav-list-item list-item ",
          "classLink": "nav-link",
          "list": "[`twitter`, `instagram`, `youtube`, `contact`, `privacy policy`]"}'>
        </include>
        <p class="text">QUEST© 2021</p>
      </ul>
    </div>
</footer>