<header class="header">
    <include src="./components/nav.html"></include>
    <section class="main-heading-sec">
        <div class="container">
                    <img
                        src="../assets/images/section1.jpg"
                        alt="section1"
                        class="main-girl"
                    />    
            <div class="header-part">
                <div class="header-title">
                    <h1>NEW HAWK Q7</h1>
                    <h2></h2>
                    <h5>LEARN ABOUT THE MISSION</h5>
                </div>
                <div class="header-button">
                    <button></button>
                </div>
            </div>
        </div>
    </section>
  </header>