<header class="header">
    <include src="./components/nav.html"></include>
    <section class="main-heading-sec">
        <div class="container">
                    <div class="background">
                        <img src="../assets/images/section1.jpg" alt="background">
                    </div>
            <div class="header-part">
                <div class="header-title">
                    <h1>new hawk q7</h1>
                    <h2>mission quest 21</h2>
                    <h5>learn about the mission</h5>
                </div>
                <div class="header-button">
                    <button>watch the replay</button>
                </div>
            </div>
        </div>
    </section>
  </header>